<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HaloServlet</servlet-name>
        <servlet-class>com.artivisi.training.web.HaloServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesertaListServlet</servlet-name>
        <servlet-class>com.artivisi.training.web.PesertaListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesertaFormServlet</servlet-name>
        <servlet-class>com.artivisi.training.web.PesertaFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesertaUploadServlet</servlet-name>
        <servlet-class>com.artivisi.training.web.PesertaUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesertaHasilUploadServlet</servlet-name>
        <servlet-class>com.artivisi.training.web.PesertaHasilUploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesertaDownloadServlet</servlet-name>
        <servlet-class>com.artivisi.training.web.PesertaDownloadServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HaloServlet</servlet-name>
        <url-pattern>/halo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesertaListServlet</servlet-name>
        <url-pattern>/peserta/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesertaFormServlet</servlet-name>
        <url-pattern>/peserta/form</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesertaUploadServlet</servlet-name>
        <url-pattern>/peserta/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesertaHasilUploadServlet</servlet-name>
        <url-pattern>/peserta/import</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesertaDownloadServlet</servlet-name>
        <url-pattern>/peserta/download</url-pattern>
    </servlet-mapping>
    
    <filter>
        <filter-name>sitemesh</filter-name>
        <filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>sitemesh</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
